
.headerstyle {
    text-align: center;
    font-size: 50px;

}

.box-1 {

    width: 915px;
    height: 195x;
    
    background: rgb(115, 252, 97)  ;
    float: left;
   
    
}

.box-2 {

    width: 270px;
    height: 705px;
    background: rgb(255, 183, 255);
    margin: 15px;
    float: left;
    
    
}
.box-3 {

    width: 600px;
    height: 330px;
    background: rgb(117, 214, 255);
    margin: 15px 15px;
    float: left;
    
}

.clear{
    clear: both;
}