html {

    scroll-behavior: smooth;
}
.heading-1 {
    background:cyan;
    text-align: center;
    
}
 .heading-2 {

    background: cornflowerblue;
    text-align: center;
}
.justify20 {
    text-align: justify;
    font-size: 20px; 

}
.pading-left-30{
    padding-left: 30px  ;
}

.menu li{
    display: inline-block;
}
